:root {
    --light-nav-footer: #72096F;
    --light-nav-text: #EFB46B;
    --light-background: #B1F8E9;
    --dark-nav-footer: #211A22;
    --dark-nav-text: #A8A7B0;
    --dark-background: #4F414E;
    --blacktext: #352e3b;
}
