* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

/* Light mode on body */
.light {
    background-color: var(--light-background);
    color: #000000;
}

/* Dark mode on body */
.dark {
    background-color: var(--dark-background);
    color: white;
}

section {
    min-height: 100vh;
}

/*HEADER*/

/* Header light mode */
.headerlight {
        background-color: var(--light-nav-footer);
        color: var(--light-nav-text);
        margin: 0;
        padding: 0 2rem;
        position: sticky;
        top: 0;
}

.headerlight a {
    color: var(--light-nav-text);
}

.headerlight a:visited {
    color: var(--light-nav-text);
}

/* Header dark mode */
.headerdark {
    background-color: #030300;
    color: var(--dark-nav-text);
}

.headerdark a:visited {
    color: var(--dark-nav-text);
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar ul {
    justify-content: center;
}

li {
    list-style: none;
}

header a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
}


/* Button for dark light mode */

#toggleButton {
    background-size:contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent!Important;
    padding-right: 60px;
}

#toggleButton:hover {
    transform: scale(1.2);
}

/* Button image that appears when in light mode */
.buttonlight {
    background-image: url(images/dark-mode.png);
}

/* Button image that appears when in dark mode */
.buttondark {
    background-image: url(images/light-mode.png);
}

/* Button for drop down menu */

#toggle_btn {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent!Important;
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: none;
}

.burgerlight {
    background-image: url(images/menulight.png);
}

.burgerdark {
    background-image: url(images/menudark.png);
}

.closelight {
    background-image: url(images/closelight.png);
}

.closedark {
    background-image: url(images/closedark.png);
}


/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background: rgba(75, 49, 90, 0.2);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.dropdown_menu.open {
    height: 150px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */

section {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-nav-text);
}

.herolight {
    background: linear-gradient(182deg, #B32A67 8.81%, #EFB46B 38.83%, #DAE79A 61.59%, #B1F8E9 83.87%);
    color: var(--blacktext);
}

.herodark {
    background: linear-gradient(180deg, #1C0C19 1.71%, #261825 33.96%, #3F303D 66.22%, #4F414E 98.48%);
    color: var(--dark-nav-text);
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}


/* PROSJEKTER */

section#projects {
    display:grid;
    place-items: center center;
    padding-top: 5rem;
}

.projectslight {
    background-color: var(--light-background);
    color: var(--blacktext);
}

.projectsdark {
    background-color: var(--dark-background);
    color: var(--dark-nav-text);
}

.cardslight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card {
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0, 0.18);
    border-radius: 20px;
}

.cardlight {
    background-color: var(--light-nav-text);
}

.carddark {
    background-color: var(--dark-nav-text);
}

.card-img {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.details {
    padding: 20px 10px;
}

.details>h3 {
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.detailslight {
    color: var(--blacktext);
}

.detailslight a {
    color: var(--blacktext);
}

.detailslight a:visited {
    color: var(--blacktext);
}

.detailsdark {
    color: var(--dark-nav-text);
}

.detailsdark a {
    color: var(--dark-nav-text);
}

.detailsdark a:visited {
    color: var(--dark-nav-text);
}

.details>p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}


/* OM MEG */

.aboutlight {
    background: linear-gradient(1deg, #B32A67 8.31%, #EFB46B 38.8%, #DAE79A 61.92%, #B1F8E9 84.54%);
    color: var(--blacktext);;
}

.aboutdark {
    background: linear-gradient(359deg, #1C0C19 0.54%, #261825 33.49%, #3F303D 66.43%, #4F414E 99.37%);
    color:var(--dark-nav-text);
}

/* FOOTER */

footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 2rem 2rem;
        font-size: small;
}

.footerlight {
    background-color: var(--light-nav-footer);
    color: var(--light-nav-text);
}

.footerlight a {
    color: var(--light-nav-text);
}

.footerlight a:visited {
    color: var(--light-nav-text);
}

.footerdark {
    background-color: var(--dark-nav-footer);
    color: var(--dark-nav-text);
}

.footerdark a {
    color: var(--dark-nav-text);
}

.footerdark a:visited {
    color: var(--dark-nav-text);
}


/* RESPONSIVE DESIGN */

@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    #toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }

    section#projects {
        margin-bottom: 1050px;
    } 
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    section#projects {
        margin-bottom: 1050px;
    } 
}