body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Skranji', system-ui;
    background-image: url(snake/michael-benz-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 17px;
}

.snake {
    background-color: #53BFD6;
}

#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

/* .game-border-1 {
    border: #595f43 solid 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
    border: #abb78a solid 8px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
} */

.game-border-3 {
    border: #3E6B80 solid 3px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #3E6B80;
}

#instruction-text {
    position: absolute;
    top: 60%;
    color: #53BFD6;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
}

.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color: #53BFD6;
}

#score, #highScore {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
}

#highScore {
    color: #53BFD6;
    display: none;
}

.game-border-3, #logo {
    background-color: #031D2B;
}

.snake {
    border: #5a5a5a 1px dotted;
}

.food {
    content: url(snake/viking-ship.png);
    width: 30px;
    height: 30px;
}

#logo {
    position: absolute;
}