* {
    margin: 0;
    padding: 0;
    font-family: 'Gaegu';
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF28F;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 800px;
    background: #06DCD4;
    margin: 100px auto 20px;
    padding: 40px 40px 40px 40px;
    border-radius: 30px;
}

.todo-app #todoicon {
    width: 90px;
    transform: rotate(15deg);
}

.todo-app h2 {
    color: #FFF28F;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.row {
    max-width: 720px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: auto;
}

#input-box {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 5px solid #000;
    padding: 20px;
    font-size: 2rem;
}

::placeholder {
    color: #FFF28F;
    opacity: 63%;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0px;
    position: relative;
    right: 70px;
    top: -5px;
}

button:hover {
    transform:scale(1.1);
}

ul#list-container {
   margin-left: 40px;
   margin-right: auto;
}


ul li {
    max-width: 620px;
    list-style: none;
    font-size: 3rem;
    color: #F72E9D;
    padding: 22px 10px 22px 100px;
    background-color: #A0F4BC;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin: 35px 0px 35px 0px;
}

ul li::before {
    content: '';
    position:absolute;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-image: url(todolist/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 25px;
    left: 20px;
}

ul li:hover {
    background: #F72E9D;
    color: #A0F4BC;
}

ul li.checked {
    color: #06DCD4;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(todolist/checked.png);
}

ul li img{
    position: absolute;
    right: 20px;
    top: 25px;
    width: 52px;
    height: 52px;
    font-size: 22px;
    color: #06DCD4;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li img:hover {
    transform: rotate(15deg);
}

p {
    text-align: center;
    color: #000;
}

a {
    color:#000;
}

a:visited {
    color:#000;
}